.sidebar-container {
    max-width: 15%;
    display: flex;
    flex-direction: column;
}

.f {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.s {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.t {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}